Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs, eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    phpcs:
      glob: "*.php"
      run: composer run lint {staged_files}
    eslint:
      glob: "*.{js,jsx,ts,tsx,vue}"
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: "*.{md,html,json,yml}"
      run: npx prettier --write {staged_files}

add svg spritemap plugin. remove mode.
  webpack.config.js
Due: eslint

add gifsicle support. remove mode.
  webpack.prod.js
Due: eslint

install dependencies
  package-lock.json
Due: prettier

bump
  .vscode/snipsnap.code-snippets
Due: none

refactor scripts. drop entry. add cross-env & svg-spritemap
  package.json
Due: prettier

update ignore paths
  .gitignore
Due: none

formatting
  .eslintignore
  .prettierrc.js
  .stylelintignore
Due: eslint

run format on staged php files
  lefthook.yml
Due: prettier

don't force purge during development
  tailwind.config.js
Due: eslint

remove test scripts
  package.json
Due: prettier

phpcbf formatting
  comments.php
  footer.php
  functions.php
  header.php
  inc/customizer/class-text-editor-custom-control.php
  inc/customizer/customizer.php
  inc/customizer/panels.php
  inc/customizer/sections.php
  inc/customizer/settings.php
  inc/extras.php
  inc/scaffolding.php
  inc/scripts.php
  inc/template-tags.php
  template-parts/content-none.php
  template-parts/content-page.php
  template-parts/content.php
  template-parts/scaffolding/scaffolding-buttons.php
  template-parts/scaffolding/scaffolding-elements.php
  template-parts/scaffolding/scaffolding-forms.php
  template-parts/scaffolding/scaffolding-globals.php
  template-parts/scaffolding/scaffolding-icons.php
  template-parts/scaffolding/scaffolding-media.php
  template-parts/scaffolding/scaffolding-typography.php
Due: phpcs

move all "fix" commands to format:*
  package.json
Due: prettier

use new format scripts
  lefthook.yml
Due: prettier

update scripts. closes #602
  README.md
Due: prettier

update order. remove lint:md:js
  package.json
Due: prettier

don't prefix sprite IDs
  webpack.config.js
Due: eslint

Removes dark mode from Tailwind config
  tailwind.config.js
Due: eslint

add SVGO to development webpack config
  webpack.config.js
Due: eslint

add clean-webpack-plugin. remove clean script and wp prettier.
  package-lock.json
  package.json
Due: prettier

clean build directory for each rebuild
  webpack.config.js
Due: eslint

add @wordpress/prettier-config
  package-lock.json
  package.json
Due: prettier

match with prettier config. allow tailwind rules.
  .stylelintrc.json
Due: prettier

formatting
  src/scss/base/_alignment.scss
  src/scss/base/_globals.scss
  src/scss/base/_headings.scss
  src/scss/base/index.scss
  src/scss/index.scss
  src/scss/modules/_comments.scss
  src/scss/modules/_footer.scss
  src/scss/modules/_forms.scss
  src/scss/modules/_header.scss
  src/scss/modules/_images.scss
  src/scss/modules/_menus.scss
  src/scss/modules/_mobile-menus.scss
  src/scss/modules/_modals.scss
  src/scss/modules/_off-canvas.scss
  src/scss/modules/_posts.scss
  src/scss/modules/_tables.scss
  src/scss/modules/index.scss
  src/scss/views/_archive.scss
  src/scss/views/_sidebar-right.scss
  src/scss/views/index.scss
Due: stylelint

help phpcs find composer
  .vscode/settings.json
Due: prettier

fix broken config. remove duplicate keys
  lefthook.yml
Due: prettier

use NPX and ./vendor for linting vs wp-scripts.
  lefthook.yml
Due: prettier

remove packagejson script
  lefthook.yml
Due: prettier

require empty lines
  .stylelintrc.json
Due: prettier

tweak format:css and format:js
  package.json
Due: prettier

use stylelint-config-prettier. remove dup rule.
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier

add npm run format:md script
  package.json
Due: prettier

add necessary loaders and plugins
  package-lock.json
  package.json
Due: prettier

process styles (with source-maps) and svgs
  webpack.config.js
Due: eslint

add file-loader for font support
  package-lock.json
  package.json
Due: prettier

use file-loader to deal with fonts
  webpack.config.js
Due: eslint

remove comment block
  webpack.config.js
Due: eslint

bump tailwind to v2.1.1
  package-lock.json
  package.json
Due: prettier

enable JIT mode
  tailwind.config.js
Due: eslint

bump @wordpress prettier and scripts
  package-lock.json
  package.json
Due: prettier

revert JIT support
  tailwind.config.js
Due: eslint
