Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs, eslint, stylelint, prettier

phpcs:
  run: composer run lint {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

stylelint:
  run: npx stylelint --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

Fix typo
  inc/compat.php
Due: phpcs

Fix blank line
  inc/compat.php
Due: phpcs

Define php version to use in composer.json
  composer.json
  composer.lock
Due: prettier

Update phpcs ignore statements
  comments.php
  inc/extras.php
  inc/hooks.php
  inc/scripts.php
  inc/template-tags.php
  template-parts/content-password-protected.php
  template-parts/scaffolding/scaffolding-globals.php
Due: phpcs

Simplify conditional
  postcss.config.js
Due: eslint

Convert style index to style.scss
  src/index.js
  src/scss/style.scss
Due: eslint, stylelint

Create editor.scss for editor only styles
  src/scss/editor.scss
Due: stylelint

Add editor.scss import to index
  src/index.js
Due: eslint

Update style header
  src/scss/style.scss
Due: stylelint

Update frontend style build import
  inc/scripts.php
Due: phpcs

Setup simple editor style enqueue
  inc/scripts.php
Due: phpcs

Remove extra enqueue function
  inc/scripts.php
Due: phpcs

Update editor style enqueue path
  functions.php
Due: phpcs

Convert css nano to conditional include (#601)
  postcss.config.js
Due: eslint

Add wp_body_open() with back compat polyfill (#603)
  functions.php
  header.php
  inc/compat.php
Due: phpcs

Update phpcs ignore statements (#605)
  comments.php
  inc/extras.php
  inc/hooks.php
  inc/scripts.php
  inc/template-tags.php
  template-parts/content-password-protected.php
  template-parts/scaffolding/scaffolding-globals.php
Due: phpcs

Updates other tailwindcss dependency version
  package-lock.json
  package.json
Due: prettier

Update PHP to 7.4
  composer.json
  composer.lock
Due: prettier

Define php version to use in composer.json (#604)
  composer.json
  composer.lock
Due: prettier

Updates copy webpack plugin to 6.4.1
  package-lock.json
  package.json
Due: prettier

fix merge conflict
  package-lock.json
Due: prettier

Adds Browsersync notes
  README.md
Due: prettier

Refine composer scripts
  composer.json
Due: prettier

Refine composer scripts (#613)
  composer.json
Due: prettier

Setup tailwind entry
  webpack.config.js
Due: eslint

Remove tailwind import
  src/index.js
Due: eslint

Move tailwind base to frontend stylesheet
  src/scss/index.scss
  src/scss/tailwind.scss
Due: stylelint

Setup Tailwind enqueues
  inc/scripts.php
Due: phpcs

Rename frontend style scss file
  src/scss/style.scss
Due: stylelint

Update frontend style enqueue
  inc/scripts.php
Due: phpcs

Update import path
  src/index.js
Due: eslint

Setup example editor.scss
  src/scss/editor.scss
Due: stylelint

Import editor.scss
  src/index.js
Due: eslint

Update editor script enqueue path
  functions.php
Due: phpcs

Add tailwind base import
  src/scss/editor.scss
Due: stylelint

Add comment block to file
  src/scss/editor.scss
Due: stylelint

Add tailwind asset file
  inc/scripts.php
Due: phpcs

Updates build and start scripts to use wp-scripts instead of WDS npm-scripts
  package-lock.json
  package.json
Due: prettier

Adds entry point and imports for editor styles
  src/editor/editor-tailwind.scss
  src/editor/editor-theme.scss
  src/editor/editor.js
  src/editor/editor.scss
Due: eslint, stylelint

Path conditions:
  phpcs: any of: *.php
  eslint: any of: *.{js,jsx,ts,tsx,vue}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
