Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs, eslint, stylelint, prettier

phpcs:
  run: composer run lint {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

stylelint:
  run: npx stylelint --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

check in codeowners file
  .github/CODEOWNERS
Due: none

bump to node 14
  .nvmrc
Due: none

migrate from node 12 to 14. npm 6 to 7
  package-lock.json
  package.json
Due: prettier

mention node 14
  README.md
Due: prettier

check in extensions.json
  .vscode/extensions.json
Due: prettier

add format on save and colors
  .vscode/settings.json
Due: prettier

check in snipsnap
  .vscode/snipsnap.code-snippets
Due: none

bump @wordpress/scripts to 13.0.3
  package-lock.json
  package.json
Due: prettier

bump @webdevstudios/npm-scriptss to 1.1.1
  package-lock.json
  package.json
Due: prettier

bump prettier to 2.2.1 and stylelint to 13.9.0
  package-lock.json
  package.json
Due: prettier

remove preinstall message
  package.json
Due: prettier

bump tailwind to 2.0.3
  package-lock.json
  package.json
Due: prettier

check in codeowners file (#572)
  .github/CODEOWNERS
Due: none

Breaks the Tailwind imports into a separate file to speed up compiling when running wds-start (#569)
  package-lock.json
  src/index.js
  src/scss/index.scss
  src/scss/tailwind.scss
Due: eslint, stylelint, prettier

Feature/lefthook (#571)
  lefthook.yml
  package-lock.json
  package.json
Due: prettier

bump stylelint to 13.10.0
  package-lock.json
  package.json
Due: prettier

Update webdevstudios/php-coding-standards to ~1.3.0
  composer.json
  composer.lock
Due: prettier

Feature/vscode settings (#574)
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/snipsnap.code-snippets
Due: prettier

Feature/depedency bump (#575)
  package-lock.json
  package.json
Due: prettier

Update webdevstudios/php-coding-standards to ~1.3.0 (#580)
  composer.json
  composer.lock
Due: prettier

Bumps copy-webpack-plugin to 6.4.1
  package-lock.json
  package.json
Due: prettier

Feature/Node 14 & NPM 7 (#573)
  .nvmrc
  README.md
  package.json
Due: prettier

Run npm run theme after successful webpack build.
  package-lock.json
  package.json
  webpack.config.js
Due: eslint, prettier

Adds browsersync and scripts
  package-lock.json
  package.json
Due: prettier

Removes lazy load filters
  inc/hooks.php
Due: phpcs

Adds the onchange plugin and watches icons for changes
  package.json
Due: prettier

Adds a listener for the icons directory to copy files
  webpack.config.js
Due: eslint

Updates package lock
  package-lock.json
Due: prettier

Move i18n build to composer, fix language path
  composer.json
  functions.php
  package.json
Due: phpcs, prettier

Update Stylelint Config
  package.json
Due: prettier

Remove deprecated package
  package.json
Due: prettier

npm run lint:styles auto fixes
  package-lock.json
  package.json
  src/scss/base/index.scss
  src/scss/index.scss
  src/scss/modules/_comments.scss
  src/scss/modules/_menus.scss
  src/scss/modules/_mobile-menus.scss
  src/scss/modules/_off-canvas.scss
  src/scss/modules/index.scss
  src/scss/views/index.scss
Due: stylelint, prettier

Update stylelint config (#598)
  package-lock.json
  package.json
  src/scss/base/index.scss
  src/scss/index.scss
  src/scss/modules/_comments.scss
  src/scss/modules/_menus.scss
  src/scss/modules/_mobile-menus.scss
  src/scss/modules/_off-canvas.scss
  src/scss/modules/index.scss
  src/scss/views/index.scss
Due: stylelint, prettier

Removes lazy load filters (#590)
  inc/hooks.php
Due: phpcs

Squashed commit of the following:
  inc/hooks.php
  package-lock.json
  package.json
  src/scss/base/index.scss
  src/scss/index.scss
  src/scss/modules/_comments.scss
  src/scss/modules/_menus.scss
  src/scss/modules/_mobile-menus.scss
  src/scss/modules/_off-canvas.scss
  src/scss/modules/index.scss
  src/scss/views/index.scss
Due: phpcs, stylelint, prettier

Convert css nano to conditional include
  postcss.config.js
Due: eslint

Add wp_body_open() with back compat polyfill
  functions.php
  header.php
  inc/compat.php
Due: phpcs

Update phpcs ignore statements
  comments.php
  inc/extras.php
  inc/hooks.php
  inc/scripts.php
  inc/template-tags.php
  template-parts/content-password-protected.php
  template-parts/scaffolding/scaffolding-globals.php
Due: phpcs

Path conditions:
  phpcs: any of: *.php
  eslint: any of: *.{js,jsx,ts,tsx,vue}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{md,html,json,yml}
