Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: phpcs, eslint, stylelint, prettier

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    phpcs:
      glob: "*.php"
      run: composer run lint {staged_files}
    eslint:
      glob: "*.{js,jsx,ts,tsx,vue}"
      run: npx eslint --fix {staged_files}
    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint --fix {staged_files}
    prettier:
      glob: "*.{md,html,json,yml}"
      run: npx prettier --write {staged_files}

Enqueues editor styles
  functions.php
  inc/scripts.php
Due: phpcs

Removes an extra enqueue we don’t need
  inc/scripts.php
Due: phpcs

Reorganize JS into /js folder
  src/index.js
  src/js/accordion.js
  src/js/js-enabled.js
  src/js/mobile-menu.js
  src/js/modal.js
  src/js/navigation-primary.js
  src/js/off-canvas.js
  src/js/skip-link-focus-fix.js
  src/js/table.js
  src/js/video.js
  src/js/window-ready.js
Due: eslint

Disable fullscreen block editor in admin
  inc/hooks.php
Due: phpcs

Removes all of the extraneous src/editor files
  src/editor/editor-tailwind.scss
  src/editor/editor-theme.scss
  src/editor/editor.js
  src/editor/editor.scss
Due: eslint, stylelint

Looks for our base index file for editor styles
  functions.php
Due: phpcs

Reverts to our standard wds-build scripts, since we only need one entry point
  package.json
Due: prettier

Adds admin/editor style overrides
  src/scss/base/_globals.scss
Due: stylelint

Use partials and folders for better organization
  footer.php
  header.php
  page-templates/template-scaffolding.php
  page-templates/template-sidebar-right.php
  template-parts/partial-footer.php
  template-parts/partial-header.php
Due: phpcs

Reorganize CSS into Atomic structure
  src/scss/components/atoms/index.scss
  src/scss/components/index.scss
  src/scss/components/molecules/index.scss
  src/scss/components/organisms/_comments.scss
  src/scss/components/organisms/_forms.scss
  src/scss/components/organisms/_images.scss
  src/scss/components/organisms/_modals.scss
  src/scss/components/organisms/_tables.scss
  src/scss/components/organisms/index.scss
  src/scss/index.scss
  src/scss/modules/_posts.scss
  src/scss/modules/index.scss
  src/scss/partials/_footer.scss
  src/scss/partials/_header.scss
  src/scss/partials/_menus.scss
  src/scss/partials/_mobile-menus.scss
  src/scss/partials/_off-canvas.scss
  src/scss/partials/index.scss
  src/scss/templates/_archive.scss
  src/scss/templates/_posts.scss
  src/scss/templates/_sidebar-right.scss
  src/scss/templates/index.scss
Due: stylelint

Better JS organization
  src/index.js
  src/js/components/accordion.js
  src/js/components/modal.js
  src/js/components/navigation-mobile.js
  src/js/components/navigation-primary.js
  src/js/components/off-canvas.js
  src/js/components/skip-link-focus-fix.js
  src/js/components/table.js
  src/js/components/video.js
Due: eslint

Update spacing & remove desktop-large
  src/scss/base/_globals.scss
Due: stylelint

Remove comments
  src/scss/components/index.scss
Due: stylelint

Change font sizes into more meaningful numbers
  tailwind.config.js
Due: eslint

Remove unnecessary spacing values
  .vscode/settings.json
  tailwind.config.js
Due: eslint, prettier

use scripts from project template
  composer.json
  composer.lock
Due: prettier

check in all wordpress-based config files
  .browserlistrc
  .editorconfig
  .eslintignore
  .eslintrc.js
  .markdownlint.json
  .markdownlintignore
  .nvmrc
  .phpcs.xml.dist
  .prettierrc.js
  .stylelintignore
  .stylelintrc.json
  lefthook.yml
Due: eslint, prettier

remove rulesets
  package.json
Due: prettier

remove future declarations
  tailwind.config.js
Due: eslint

remove cssnano. leverage preset-env instead
  postcss.config.js
Due: eslint

refactor webpack config
  webpack.config.js
Due: eslint

create production webpack config
  webpack.prod.js
Due: eslint

refactor package.json
  package.json
Due: prettier

install dependencies
  package-lock.json
Due: prettier

drop sass-lint support
  .sass-lint.yml
Due: prettier

make it clear the configs are for different modes
  webpack.config.js
  webpack.prod.js
Due: eslint

remove autoprefixer and postcss dev dependencies
  package-lock.json
  package.json
Due: prettier

remove unused folders
  .eslintignore
Due: none

add wds specific options
  .eslintrc.js
Due: eslint

eslint and prettier formatting
  .prettierrc.js
  inc/customizer/assets/scripts/livepreview.js
  inc/customizer/assets/scripts/tinymce.js
  src/components/accordion.js
  src/components/mobile-menu.js
  src/components/modal.js
  src/components/navigation-primary.js
  src/components/off-canvas.js
  src/components/skip-link-focus-fix.js
  src/components/table.js
  src/components/video.js
  src/components/window-ready.js
  src/index.js
  tailwind.config.js
  webpack.config.js
  webpack.prod.js
Due: eslint

update path
  .markdownlint.json
Due: prettier

add markdownlint to recommended extensions
  .vscode/extensions.json
Due: prettier

move license and contributing to root (per github)
  .github/CONTRIBUTING.md
  .github/LICENSE
  LICENSE.md
  README.md
Due: prettier

fix link. formatting.
  CONTRIBUTING.md
Due: prettier

bump version number
  composer.json
  package.json
  style.css
Due: stylelint, prettier

add browser-sync support
  package-lock.json
  package.json
Due: prettier

Wraps the SVG sprite in a div so we can hide it easily
  inc/hooks.php
Due: phpcs

Adds styles to hide the sprite div
  src/scss/base/_media.scss
  src/scss/base/index.scss
Due: stylelint

add pot command
  composer.json
  package.json
Due: prettier

Hotfix/hide svg sprite (#620)
  inc/hooks.php
  src/scss/base/_media.scss
  src/scss/base/index.scss
Due: phpcs, stylelint
